<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @player_round.amount %>
</p>

<%= link_to 'Edit', edit_player_round_path(@player_round) %> |
<%= link_to 'Back', player_rounds_path %>
